# Backend component values
image:
  repository: gitlab.praktikum-services.ru:5050/std-ext-021-21/momo-store/momo-backend
  tag: "latest"
  pullPolicy: IfNotPresent

replicaCount: 1

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

vault:
  host: std-ext-021-21.praktikum-services.tech:8200

service:
  type: ClusterIP
  port: 8081

probes:
  livenessProbe:
    httpGet:
      path: /actuator/health
      port: 8081
    initialDelaySeconds: 15
    periodSeconds: 30
    timeoutSeconds: 1
    failureThreshold: 6

environment: production



imagePullSecrets:
  - name: docker-config-secret
