# бэкенд настройки
image:
  repository: gitlab.praktikum-services.ru:5050/std-ext-021-21/momo-store/momo-backend
  tag: "latest"
  pullPolicy: IfNotPresent

replicaCount: 1

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

service:
  type: ClusterIP
  port: 8081

ingress:
  enabled: true
  className: nginx
  annotations: {}
  useRegex: true
  path: "/api(/|$)(.*)"
  pathType: "ImplementationSpecific"
  rewriteTarget: "/$2"
  tls:
    enabled: false

probes:
  livenessProbe:
    httpGet:
      path: /metrics
      port: 8081
    initialDelaySeconds: 30
    periodSeconds: 30
    timeoutSeconds: 5
    failureThreshold: 3
    successThreshold: 1
  readinessProbe:
    httpGet:
      path: /metrics
      port: 8081
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
    successThreshold: 1

environment: production



imagePullSecrets:
  - name: docker-config-secret
