stages:
  - release
  - deploy

release-helm:
  stage: release
  image: alpine/helm:latest
  only:
    changes:
      - "momo-store-chart/**/*"
  script:
    - cd momo-store-chart
    - helm dependency update
    - helm package . --version "0.1.3-pipeline${CI_PIPELINE_ID}"
    - curl -L -u $HELM_REPO_USERNAME:$HELM_REPO_PASSWORD $NEXUS_HELM_REPO --upload-file momo-store-*.tgz

deploy-helm:
  stage: deploy
  image: alpine/helm:latest
  only:
    changes:
      - "momo-store-chart/**/*"
  environment:
    name: production

  when: manual
  variables:
    KUBECONFIG: ~/.kube/config
  script:
    - mkdir -p ~/.kube
    - echo "$KUBECONFIG_CONTENT" | base64 -d > ~/.kube/config
    - chmod 600 ~/.kube/config
    - export KUBECONFIG=~/.kube/config
    - echo "=== Helm Repository Information ==="
    - helm repo add -helm $NEXUS_HELM_REPO --username $HELM_REPO_USERNAME --password $HELM_REPO_PASSWORD
    - helm repo update
    - |
      helm upgrade --install momo-store helm-momo/momo-store \
        --namespace default \
        --atomic \
        --timeout 15m
  after_script:
    - rm -f ~/.kube/config