# Global values
environment: production

# Backend component
backend:
  image:
    repository: gitlab.praktikum-services.ru:5050/std-ext-021-21/momo-store/momo-backend
    tag: "1.0.2566749"
    pullPolicy: IfNotPresent

  replicaCount: 1

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  service:
    type: ClusterIP
    port: 8081

  probes:
    livenessProbe:
      httpGet:
        path: /actuator/health
        port: 8081
      initialDelaySeconds: 15
      periodSeconds: 30
      timeoutSeconds: 1
      failureThreshold: 6

# Frontend component
frontend:
  image:
    repository: gitlab.praktikum-services.ru:5050/std-ext-021-21/momo-store/momo-frontend
    tag: "1.0.2559722"
    pullPolicy: IfNotPresent

  replicaCount: 1

  fqdn: ""

  service:
    type: ClusterIP
    port: 80

  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: "http01-clusterissuer"
    tls:
      enabled: true

  probes:
    livenessProbe:
      httpGet:
        path: /
        port: 80
      initialDelaySeconds: 15
      periodSeconds: 30
      timeoutSeconds: 1
      failureThreshold: 6

  configMap:
    nginx:
      server:
        listen: 80
        location:
          root: "/usr/share/nginx/html"
          index: "index.html"
          tryFiles: "$uri $uri/ /index.html"
        apiLocation:
          proxyPass: "http://backend:8081"
          proxySetHeaders:
            - "Host $host"
            - "X-Real-IP $remote_addr"
            - "X-Forwarded-For $proxy_add_x_forwarded_for"
            - "X-Forwarded-Proto $scheme"

# Image pull secrets
imagePullSecrets:
  - name: docker-config-secret
