# Alertmanager настройки
image:
  repository: prom/alertmanager
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 9093
  nodePort: 32093

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

telegram:
  botToken: ""
  chatId: ""
  apiUrl: "https://api.telegram.org"
