---
groups:
  - name: Application rules
    rules:
      - alert: InstanceDown
        expr: up{app_kubernetes_io_name="app-backend"} == 0
        for: 1m
        labels:
          severity: critical
          project: "app"
          component: "Backend"
        annotations:
          summary: "Backend instance недоступен"
          description: "Экспортер backend ({{ $labels.instance }}) не отвечает более 1 минуты"
      - alert: BackendNoRequests
        expr: rate(requests_count[5m]) == 0 and up{app_kubernetes_io_name="app-backend"} == 1
        for: 5m
        labels:
          severity: warning
          project: "app"
          component: "Backend"
        annotations:
          summary: "Backend не получает запросы"
          description: "Backend доступен, но не получает HTTP запросы более 5 минут"
      - alert: BackendHighRequestRate
        expr: rate(requests_count[5m]) > 100
        for: 2m
        labels:
          severity: warning
          project: "app"
          component: "Backend"
        annotations:
          summary: "Высокая нагрузка на backend"
          description: "Скорость запросов к backend превышает 100 rps (текущее значение: {{ $value }} rps)"
      - alert: BackendNoOrders
        expr: rate(orders_count[10m]) == 0 and rate(requests_count[5m]) > 0
        for: 10m
        labels:
          severity: warning
          project: "app"
          component: "Backend"
        annotations:
          summary: "Отсутствуют новые заказы"
          description: "Backend получает запросы, но новые заказы не создаются более 10 минут"
