apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: {{ .Release.Namespace }}
  labels:
    app: loki
spec:
  type: NodePort
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 3100
      nodePort: {{ .Values.service.nodePort }}
      protocol: TCP
      name: http-loki
  selector:
    app: loki
  sessionAffinity: None


