# Grafana настройки
image:
  repository: grafana/grafana
  tag: "8.4.4"
  pullPolicy: IfNotPresent

adminUser: admin
adminPassword: admin

service:
  type: NodePort
  port: 3000
  nodePort: 32300

resources:
  requests:
    cpu: 250m
    memory: 750Mi
  limits:
    cpu: 500m
    memory: 1Gi

persistence:
  enabled: true
  size: 10Gi
  storageClassName: "local-path"  # StorageClass для RKE2

