apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: {{ .Release.Namespace }}
  labels:
    app: prometheus
spec:
  type: NodePort
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 9090
      nodePort: {{ .Values.service.nodePort }}
      protocol: TCP
  selector:
    app: prometheus
  sessionAffinity: None
