---
groups:
  - name: Momo store rules
    rules:
      - alert: InstanceDown
        expr: up{app="backend"} == 0
        for: 1m
        labels:
          severity: critical
          project: "momo_store"
          component: "Backend" 
        annotations:
          summary: "Backend instance недоступен"
          description: "Экспортер backend ({{ $labels.instance }}) не отвечает более 1 минуты"
      - alert: Http500Errors
        expr: sum(rate(http_server_requests_seconds_count{status="500"}[5m])) > 0
        for: 2m
        labels:
          severity: critical
          project: "momo_store"
          component: "Backend"
        annotations:
          summary: "Обнаружены ответы 500"
          description: "Фиксируются ответы 500 ({{ $value }} rps) за последние 5 минут"
      - alert: OrdersPostLatencyP95High
        expr: |
          histogram_quantile(
            0.95,
            sum(
              rate(
                http_server_requests_seconds_bucket{uri="/api/orders",method="POST",status=~"2..|3.."}[5m]
              )
            ) by (le)
          ) > 0.1
        for: 5m
        labels:
          severity: critical
          project: "momo_store"
          component: "Backend"
        annotations:
          summary: "Высокая задержка POST /api/orders (p95)"
          description: "p95 задержки POST /api/orders превышает 100 мс (текущее значение: {{ $value }}s)"
      - alert: ActuatorPrometheusErrors
        expr: sum(rate(http_server_requests_seconds_count{uri="/actuator/prometheus",status!~"2..",app="backend"}[2m])) > 0
        for: 2m
        labels:
          severity: warning
          project: "momo_store"
          component: "Backend"
        annotations:
          summary: "Ошибки на /actuator/prometheus"
          description: " эндпоинт /actuator/prometheus backend отвечает ошибками ({{ $value }} rps) более 2 минут"
