{{- if .Values.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: {{ .Release.Namespace }}
  labels:
    app: alertmanager
spec:
  type: NodePort
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 9093
      nodePort: {{ .Values.service.nodePort }}
      protocol: TCP
      name: http
  selector:
    app: alertmanager
{{- end }}