---
apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: promtail
data:
  promtail.yaml: |
    server:
      http_listen_port: 3101
      grpc_listen_port: 9095
    
    positions:
      filename: /tmp/positions.yaml
    
    clients:
      - url: {{ .Values.loki.url }}
    
    scrape_configs:
{{- range .Values.scrapeConfigs }}
    {{- toYaml . | nindent 4 }}
{{- end }}
